.contact-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.contact-item {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 1rem;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}